# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://oittuodrnoapoesvfxsh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pdHR1b2Rybm9hcG9lc3ZmeHNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MDAxMjcsImV4cCI6MjA5ODA3NjEyN30.jx1hMFGYqST8PqgopTuXcnytvCdIi644lUbGLVSFbQs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pdHR1b2Rybm9hcG9lc3ZmeHNoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjUwMDEyNywiZXhwIjoyMDk4MDc2MTI3fQ.jUNVNpHatbVfgyXcQ5oIH4K6kizvm1_M2UnLIsTAEeQ

# Auth
JWT_SECRET=

# Encriptación wallets Stellar
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_MASTER_KEY=

# Stellar
STELLAR_NETWORK=testnet
USDC_ASSET_CODE=USDC
USDC_ISSUER=GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
ANCHOR_HOME_DOMAIN=testanchor.stellar.org
