# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://oitxsh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ..
SUPABASE_SERVICE_ROLE_KEY=eyJ....

# Auth
JWT_SECRET=

# Encriptación wallets Stellar
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_MASTER_KEY=

# Stellar
STELLAR_NETWORK=testnet
USDC_ASSET_CODE=USDC
USDC_ISSUER=GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
ANCHOR_HOME_DOMAIN=testanchor.stellar.org
